 #home {
      background: #222;
    }

    /* ======================== About Section ======================== */
    #about {
      background: #111;
    }

    /* ======================== Skills Section ======================== */
    #skills {
      background: #1a1a1a;
    }